font {
    font-family: "Courier New", "Courier", monospace;
    font-stretch: condensed;
    color: black;
}
    @font-face {
        font-family: "Courier New";
        font-stretch: condensed;
        src: local("Courier New")
    }
    @font-face {
        font-family: "Courier";
        font-stretch: condensed;
        src: local("Courier")
    }
html {
    height: 100%;
    width: 100%
}
body {
    width: 80%;
    max-width: 1000px;
    margin-left: 5%;
    font-size: 20px;
    background-color: #ebebe9;
    overflow-wrap: break-word
}
h1 {
    font-size: 2em;
    line-height: 1;
}
h2 {
    font-size: 1.5em;
    line-height: 1;
}
h3 {
    font-weight: normal;
    font-variant: small-caps;
    font-size: 1.25em;
    line-height: 1;
}
p {
    text-indent: 20px;
    text-align: left;
}
.footer {
    font-size: 14px;
    color: #38342c;
    bottom: 0;
    text-align: center
}
.letter {
    color: rgb(221, 22, 22);
    font-style: italic;
    font-size: 1.25em;
}