#h1 {
    font-variant: small-caps;
    font-size: 28pt/41.5pt;
    font-family: verdana;
    color: #2d2a23;
}
#h2 {
    font-weight: normal;
    font-variant: small-caps;
    font-size: 23.5pt/34.5pt;
    font-family: verdana;
    color: #322f27;
}
#h3 {
    font-weight: normal;
    font-variant: small-caps;
    font-size: 18.5pt/27pt;
    font-family: verdana;
    color: #38342c;
}
#text {
    font-size: 14pt/20.5pt;
    font-family: verdana;
    color: #38342c;
}
#foot {
    text-align: center;
    font-size: 10pt;
    font-family: verdana;
    color: #38342c;
    padding: 10% 0% 0% 0%;
}
#center {
    text-align: center;
}
#highlight {
    border: 4px solid #fc79ae;
    background-color: #fc79ae;
}
body {
    background-color: #e1dfd9;
}